/* Removes hidden div from Grammarly */
#crx-root-main {
  display: none;
}

* {
  /* border: 1px solid darkgray; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

body > * {
  flex: 1;
}

.dark-blue {
  background-color: #1f2937;
}

.grey {
  background-color: #e5e7eb;
}

#logo {
  font-size: 24px;
  color: #f9faf8;
}

#title {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.links,
#hero-text {
  font-size: 16px;
  color: #e5e7eb;
}

.section {
  display: flex;
  justify-content: center;
  padding: 0 15%;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

.hero-container {
  display: flex;
  height: 100%;
  margin: 8% 0;
}

.hero-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hero-body > * {
  flex: 1;
}

.hero-body button {
  margin: 12px 0;
}

.hero-body button,
#call-to-action button {
  width: 20%;
  flex-grow: 0;
  border-radius: 5px;
  padding: 5px;
  border: none;
  font-weight: bold;
  background-color: #3882f6;
  color: #e5e7eb;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(138, 143, 149);
  color: #e5e7eb;
}

.section.white {
  padding-bottom: 6%;
}

#card-header,
.card-container {
  text-align: center;
}

#card-header {
  padding: 16px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
}

.card-img {
  width: 100%;
  aspect-ratio: 1/1; /* this will make the height the same as the width */
  border: 2px solid blue;
  border-radius: 5px;
}

#quote-container {
  margin: 6% 0;
  padding: 0 18%;
}

#quote {
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
}

#quotee {
  text-align: right;
}

#call-to-action {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 80px;
  background-color: #3882f6;
  border-radius: 4px;
  margin-top: 8%;
}

#call-to-action button {
  background-color: transparent;
  border: 2px solid #e5e7eb;
}

.call-to-action-text {
  display: flex;
  flex-direction: column;
}

.call-to-action-text h3 {
  color: #f9faf8;
  font-weight: bold;
}

.call-to-action-text p {
  color: #e5e7eb;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 36px;
  color: #e5e7eb;
}

